@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;900&display=swap');


body{
    background-color: lightblue;
    font-style: normal;
    font-family: georgia;
    
}

h1{
    color: white;
    border-color:dodgerblue;
    border-style: dashed;
    border-width: 4px;
    text-align: center;
    
}

.horario{
    border: none;
    width: 100%;
    height: 620px;
}

.hour{
    width: 100px;
}

.day{
    width: 200px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 2px solid lightblue;
    border-collapse: collapse;
}

th, td{
    color: white;
    background-color: dodgerblue;
    text-align: center;
}

.T:hover, .TP:hover{
    background-color: seagreen;
}

.P:hover{
    background-color:tomato;
}

.dT, .dTP, .dP{
    background-color: lightgray;
    color: darkgray;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
  }

tr:hover{
    background-color: hsla(0, 0%, 100%, 80%);   
}

.filling{
    background-color: hsla(210, 100%, 56%, 0.250);
}

.subject, .info{
    display:block;
}

.subject{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 4;
}

.info{
    font-size: smaller;
}

.action_bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1330px;
    margin: 2px auto;
}

.pinned_pages{
    display: flex;
    max-width: 1330px;
    margin: 2px auto;
    
}

.center_tray{
    display: flex;
}

.right_tray{
    display: flex;
    align-items: flex-start;
}

button, input, label{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: dodgerblue;
    border-style: none;
    cursor: pointer;
    margin: 2px;
}

button{
    padding: 4px 40px;
    height: 35px;
}

input{
    text-align: center;
    color: white;
    background-color: dodgerblue;
    border-style: none;
}

input[type="checkbox"]{
    display: none;
}



input:hover, input:focus, button:hover{
    background-color: tomato;
    outline: none;
}

.dropdown{
    display: flex;
    flex-direction: column;
    
}

.dropdown_content{
    flex-direction: column;
}
.option_selected, .option_selected:hover{
    background-color: tomato;
    font-family: "Passion One";
    font-size:x-large;
}


.option_deselected, .option_deselected:hover{
    background-color: dodgerblue;
    font-family: "Passion One";
    font-size:x-large;
}


label:hover{
    background-color: tomato;
}


